<ng-include src="'../cabecera.html'"></ng-include>
<div class="panel panel-default">
  <div class="panel-heading">
  <h2>Listado de ordenes de compra</h2>
  <input type="button" value="Nueva Orden de Compra"  class="btn btn-danger" ng-click="agregar()"/>
  </div>
  <div class="panel-body">

<div>
	<table class="table table-hover" width="100%">
		<tr>
			<th height="10%" class="text-center">Numero</th>
			<th height="15%" class="text-center">Fecha y hora creación</th>
			<th height="25%" class="text-center">Cliente</th>
			<th height="15%" class="text-center">Valor</th>
	
			<th height="35%" class="text-center">Opciones</th>
		</tr>
		<tr ng-repeat="ordenCompra in ordenesCompra" ng-model="checked">
			
			<td><a ng-href="#/DetalleOrdenCompra/?numOrdenCompra={{ordenCompra.numero}}">{{ordenCompra.numero}}</a></td>
			
			<td>{{ordenCompra.fechaCreacion}}</td>
			<td>{{ordenCompra.cliente.razonSocial}}</td>
			<td class="text-right">{{ordenCompra.valorTotal}}</td>
			<td class="text-center">
			<button type="button" class="btn btn-info" ng-click="cambiarEstado(ordenCompra)">Cambiar Estado</button>
			<button type="button" class="btn btn-primary" ng-click="editar(ordenCompra.numero)">Editar</button>
			<button type="button" class="btn btn-danger" ng-click="eliminar(ordenCompra.numero)">Eliminar</button></td>
			</a>
		</tr>
	</table>
<!-- 	Al dar click en el boton Nuevo se llama al metodo Guardar del controlador -->
	
</div>
</div>